/* COMMON rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ‘Montserrat’, sans-serif;
}

.wrapper {
    height: calc(100vh - 100px);
    display: flex;
    background-color: darkslategray;
}

/* HEADER rules */
#upgrade {
    height: 80px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#upgrade-btn {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 30px;
    margin-right: 15px;
}

/* NAV rules */
#main-menu-left {
    width: 250px;
    background-color: brown;
    height: calc(100vh - 180px);
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#logo {
    width: 250px;
    height: 80px;
    padding: 15px 100px 15px 10px;
    line-height: 80px;
    background-color: black;
}

#mid-main-menu-left {
    overflow: auto;
}

#bottom-menu-left {
    width: 250px;
    height: 80px;
    background-color: orange;
}

/* MAIN rules */
#content {
    width: calc(100% - 250px);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 80px;
}

#content .playlist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 6 - 4px);
    height: 200px;
    margin: 4px 2px;
    min-width: 200px;
    background-color: yellow;
}

/* PLAYER rules */
#player {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    z-index: 200;
    background-color: green;
}